body{
    background-color: rgb(255, 255, 255);
    margin: 0;
}

.section-main{  
    scroll-margin-top: 70px;   
    margin-top: 50px;
    width: 60%;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* NAVEGADOR */
.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: auto;
   
    background-color: rgb(0, 0, 0);
    height: 70px; 
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1;  
}

.elem{
    display: flex;
    background-color: #f3bc06 ;
    color: rgb(0, 0, 0); 
    font-size: 1.3em; 
    width: 175px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid black; 
}

.elem:hover{
    text-decoration: underline;
}

a{
    text-decoration: none;
}

/*IMATGE HEADER */

.header>img{
    width: 100%;
    height: 950px;
}

.textimg{
    position: absolute;
    top: 450px;
    color: rgb(255, 255, 255);
    left: 180px;
    font-size: 2.5em;
}

/* MAIN */

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}   

/*QUISOM*/

.container-nosaltres{
    display: flow-root;
    
}
.container-nosaltres>p{
    font-size: 1.2em;
}


.imgNos1>img{
    width: 30%;
    float: left;
    margin-right: 70px;
    border-radius: 20px;
}

.imgNos2>img{
    width: 30%;
    float: right;
    margin-left: 70px;
    margin-top: 60px;
    border-radius: 20px;

}

.p1{
  margin-top: 60px;
  width: 100%;
  
}

.p2{
    margin-top: 260px;
    width: 100%;
}





/*Menus*/

.carta{
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 1.3em;
}

.main-principal{
    display: grid;
    grid-template-areas:  'carta auto auto auto'
                          'menu menu menu menu'   
                          'menu1 menu1 contingut1 contingut1'                        
                          'menu1 menu1 pasta entrants'                         
                          'menu2 menu2 contingut2 contingut2'                         
                          'menu2 menu2 carn peix';
                          
    gap: 10px;
}

.elem1{
    grid-area: carta; 
}


.elem2{
    grid-area: menu;
    background-color: rgb(15, 15, 78);
    color: white;
    font-size: 1.5em ;
    border-radius: 10px;
    height: 70px;
    width: 100%;
}

.elem3{
    grid-area: menu1;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    border: 1px solid black;
}

.elem4{
    
    grid-area: contingut1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}
.elem5{
    grid-area: pasta;
    margin-left: 20px;
    position: relative;

    
}

.elem6{
    grid-area: entrants;
    position: relative;

}

.elem7{
    grid-area: menu2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid black;
    width: 100%;
   

}

.elem8{
    grid-area: contingut2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;

   
}

.elem9{
    grid-area: carn;
    margin-left: 20px;
    position: relative;

}

.elem10{
    grid-area: peix;  
    position: relative;
 
}

.overlay{
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #000000; 
    width: 93%;
   
    opacity:1;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    padding: 20px;
    text-align: center;
}





/* Galeria Imatges */

.contenidorGaleria{
    display: flex;
    flex-wrap: wrap;
    padding: auto;
    justify-content: center;
    
}

.imgGaleria{   
    width: 22%;
    border: 1px solid rgb(199, 198, 198);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    
}

.imgGaleria>img:hover{
    filter: brightness(30%);
    cursor: pointer;
}

.imgGaleria:hover{
    
    box-shadow: 0 0 10px rgb(216, 137, 18);
}
.i1>img,.i4>img,.i5>img,.i8>img{
    filter: brightness(50%);
}

div>img{
    width: 100%;
    display: block;
}

/* FOOTER */

.contenidorFooter{
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    margin-top: 50px;
}

.e{
    display: flex;
    margin-left: 20px;
    width: 500px;
    align-items: center;
    gap: 20px;
}

.d{
    margin-right: 20px;
}

i{
    vertical-align: middle;
}



/* MEDIA QUERYS */


@media only screen and (max-width: 768px){


    .menu{
        display: flex;
        justify-content: flex-start;
    }

    .elem{
        background-color: #ffffff;
        margin: 10px;  
        width: 100px;
        margin-right: 0px;
    }

    #img{
        height: 20%;
    }
    
    .textimg{
        top: 10%;
        left: 2%;
        font-size: 1.3em;
    }



    .section-main{
        width: 80%;
    }


    /*FLOAT*/ 
    .imgNos1{
        width: 100%;
        margin: 0px;
    }

    .p1{
        width: 100%;
        margin: 0px;
    }

    .imgNos2{
        width: 100%;
        margin: 0px;
        float: none;
    }

    .p2{
        width: 100%;
        margin: 0px;
    }

    .container-nosaltres{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        
    }



    /*GRID*/

    
    .main-principal{
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-areas: 
            'elem1 elem1'
            'elem2 elem2'
            'elem3 elem4'
            'elem3 elem5'
            'elem3 elem6'
            'elem7 elem8'
            'elem7 elem9'
            'elem7 elem10';
        
    }


    /*FLEX*/
    .imgGaleria{
        width: 27vw;
    }


    /*FOOTER*/

    .d{
        display: none   ;
    }
   
}
    

@media only screen and (max-width: 576px){

    .main{
        padding: 20px;
    }

    /*TEXT IMATGE*/

    .textimg{
        top: 10%;
        left: 2%;
    }


    /*FER LES SECCIONS 100% DE L'AMPLITUD*/
    .section-main{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
    }

    /*GALERIA*/

    .imgGaleria{
        width: 100%;
    }


}

